<style>
    .rv_audio_player {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 70px;
        z-index: 25;
        text-align: center;
        color: white;
        background-color: rgb(76, 182, 203);
    }
    
    .audio_buttons {
        position: relative;
        margin: auto;
    }
    
    .right_side_buttons {
        position: relative;
        float: right;
    }
    
    
</style>



<div class="rv_audio_player">
    
    <div class="audio_buttons">
        play
    </div>
    
    
    <div class="right_side_buttons">
        repeat
    </div>
    
</div>