<link rel="stylesheet" type="text/css" href="/stylesandscripts/header.css"> 

<div class="rv_navigationbar">
    <button id="menu_btn">|||</button>
    <input type="search" id="rv_searchbar" placeholder="Search" />
</div>