<link rel="stylesheet" type="text/css" href="/stylesandscripts/header.css"> 


<!-- The navigation bar. -->
<div class="rv_navigationbar">
    <button class="open_menu_btn">|||</button>
    <input type="search" class="rv_searchbar" placeholder=" Search..." />
</div>



<!-- The menu that appears from the side bar. -->
<div class="menu">
    <button class="menu_btn" id="home_btn">Home</button>
    <br>
    <button class="menu_btn" id="albums_btn">Albums</button>
    <br>
    <button class="menu_btn" id="artists_btn">Artists</button>
    <br>
    <button class="menu_btn" id="genres_btn">Genres</button>
    <br>
    <button class="menu_btn" id="myaccount_btn">My Account</button>
    <br>
    <button class="menu_btn" id="goTo_login_btn">Login</button>
    <br>
    <button class="menu_btn" id="goTo_register_btn">Register</button>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/stylesandscripts/header.js"></script>