<!-- CSS -->
<style>
    #content {
        text-align: center;
    }
    .recitations_grid {
        position: relative;
        left: 1.5%;
        width: 96.5%;
        height: 500px;
        display: block;
        text-align: center;
    }
    .recitation_item {
        box-sizing: border-box;
        padding-right: 20px;
        width: 16.666%;
        float: left;
    }
    .recitation_item {
        display: list-item;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        text-align: center;
        list-style-type: none;
/*        text-align: -webkit-match-parent;*/
    }
    #recitation_img:hover {
        border: 4px cornflowerblue solid;
    }
    #goToPoemPageBtn {
        border: none;
    }
</style>

<!-- HTML -->

<div id="content">
    <h3>All</h3>
    
    <!-- Where all the recitations are stored. -->
    <div class="recitations_grid">
        <ul class="recitations_list"></ul>
    </div>
    
    
    
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/stylesandscripts/firebaseconfig.js"></script>
    <script type="text/javascript" src="/stylesandscripts/profile_all.js"></script>
</div>