<!-- CSS -->
<style>
    table {
        width: 95%;
        height: 500px;
        background-color: green;
    }

</style>

<!-- HTML -->

<h3>All</h3>
<table id="recitations_grid">

    
    

</table>



<!-- JAVASCRIPT -->
<script>
</script>