<!DOCTYPE html>
<html>

   <head>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesandscripts/editProfile.css" />
        <title>Recited Verse - Profile</title>
    </head>
    
    
    
    <body>
        <% include ../partials/header.ejs %>
        
    
        <!-- The overall container for the edit profile page. -->
        <div class="ep_content_container">
            
            <!-- The header -->
            <h2 class="ep_header">Edit Profile</h2>
            
            <!-- The place where you choose a profile picture. -->
            <div class="profile_picture_area"> 
                <img id="profile_picture" src="" alt="profile picture">
                <br><br>
                <button id="choose_profile_picture_btn">Choose Profile Picture</button>
            </div>
            
            
            <!-- The input fields. -->
            <div class="ep_about_area">
                <p><b>Personal Information</b></p>
                Full Name: &nbsp;&nbsp;&nbsp; <input type="text" class="ep_field" id="ep_fullname_field" placeholder="Change your full name">
                <br><br>
                Email: &nbsp;&nbsp;&nbsp; <input type="email" class="ep_field" id="ep_email_field" placeholder="Change your email">
                <br><br>
                Password: &nbsp;&nbsp;&nbsp; <input type="text" class="ep_field" id="ep_password1_field" placeholder="Change your password">
                <br><br>
                Re-enter Password: &nbsp;&nbsp;&nbsp; <input type="text" class="ep_field" id="ep_password2_field" placeholder="Re-enter your new password">
                <br><br><br><br>
                
                <p><b>Profile</b></p>
                Bio: &nbsp;&nbsp;&nbsp; <textarea id="ep_bio_field"></textarea>
                <br><br>
                Social Media Links: &nbsp;&nbsp;&nbsp; 
                <br>
                <p>
                    <label for="cbox1">Facebook</label>
                    <input type="checkbox" id="facebookCBox" value="Facebook" checked="checked">
                    <br>
                    <label for="cbox1">LinkedIn</label>
                    <input type="checkbox" id="linkedinCBox" value="LinkedIn" checked="checked">
                    <br>
                    <label for="cbox1">Instagram</label>
                    <input type="checkbox" id="instagramCBox" value="Instagram" checked="checked">
                    <br>
                    <label for="cbox1">Twitter</label>
                    <input type="checkbox" id="twitterCBox" value="Twitter" checked="checked">
                </p>
                
            
                <!-- The button to save the changes -->
                <br><br><br><br><br><br><br>
                <button class="pill_button" id="save_btn">Save Changes</button>
                <br><br><br><br>
            </div>
            
        </div>
        
        
        
        <!--    All of the javascript.    -->
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/stylesandscripts/firebaseconfig.js"></script>
        <script type="text/javascript" src="/stylesandscripts/editProfile.js"></script>
    </body>
    
</html>