<!DOCTYPE html>
<html>

   <head>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesandscripts/editProfile.css" />
        <title>Recited Verse - Profile</title>
    </head>
    
    
    
    <body>
    
        
        
        
        
        <!--    All of the javascript.    -->
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/stylesandscripts/firebaseconfig.js"></script>
        <script type="text/javascript" src="/stylesandscripts/editProfile.js"></script>
    </body>
    
</html>