<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/public/stylesandscripts/home.css" />
    </head>
    
    
    

    
    
    <body>
        <!--   Get the header.   -->
        <% include ../partials/header.ejs %>
        
        
        <script type="text/javascript" src="/stylesandscripts/home.js"></script>
    </body>




</html>