<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesandscripts/landing.css" />
    </head>

    
    <body class="page">
        
        
        
        
        <script type="text/javascript" src="/stylesandscripts/landing.js"></script>
    </body>
    
</html>