<!DOCTYPE html>
<html>
    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesandscripts/landing.css" />
        <title>Recited Verse</title>
    </head>

    
    <body class="body">
        
        
        <!--   The video background.     -->
        <div class="video_background">
            <video autoplay loop>
                <source src="http://recitedverse.com/wp-content/uploads/2016/11/videobackground2.mp4" type="video/mp4">
            </video>
            
            <div class="logo_header">
                <img src="http://recitedverse.com/wp-content/uploads/2016/08/rlogo.png" alt="logo" class="logo" width="150" height="150">
                <h2 style="color: white; font-style: italic; font-size: 30px;">Recited Verse</h2>
                <h3 style="color: white; font-style: italic; font-size: 23px;">A free treasury of online poetry recitations</h3>
                <br>
            </div>
        </div>
        
        
        <!--    The three main points of the website.    -->
        <div class="mainpoints_container">
            <!--   First point   -->
            <div id="first_point">
                <img src="http://recitedverse.com/wp-content/uploads/2016/11/HeadphonesIcon.png" alt="img" width="165" height="165">
                <br>
                <h3 class="landing_info">Recitations</h3>	
                <p class="landing_info">The world's first - and leading - treasury of original poetry recitations. </p>
            </div>
            
            <!--   Second point   -->
            <div id="second_point">
                <img src="http://recitedverse.com/wp-content/uploads/2016/11/MicrophoneImage.png" alt="img" width="165" height="165">
                <br>
                <h3 class="landing_info">Upload</h3>
                <p class="landing_info">Record your own recitations for others to listen to, favorite, and share.</p>
            </div>

            <!--   Third point   -->
            <div id="third_point">
                <img src="http://recitedverse.com/wp-content/uploads/2016/11/SocialImageIcon.png" alt="img" width="165" height="165">
                <h3 class="landing_info">Social</h3>
                <p class="landing_info">Create, share, follow, discover. Get to know other reciting artists and keep up with their latest posts.</p>
            </div>
        </div>
        

        <!--    The area for putting one's email down for when the website actually launches.    -->
        <div>
            <div class="notify_me_section non_header_text">
                <h3>Want to be notified when Recited Verse launches? Enter your email below! </h3>
                <input class="notify_inp" id="rv_email_field" type="text" placeholder="Email Address">
                <br><br><br>
                <button class="pill_button" id="mailingListBtn" style="width: 80px; height: 35px;"> Submit </button>
            </div>
        </div>


         
        <!--    All of the javascript.    -->
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/stylesandscripts/firebaseconfig.js"></script>
        <script type="text/javascript" src="/stylesandscripts/landing.js"></script>
    </body>
    
</html>