<!DOCTYPE html>
<html>

    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesandscripts/login.css" />
        <title>Recited Verse - Login</title>
    </head>




    <body>
        
        
        <!--    All of the javascript.    -->
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/stylesandscripts/firebaseconfig.js"></script>
        <script type="text/javascript" src="/stylesandscripts/login.js"></script>
    </body>
    
</html>