<!DOCTYPE html>
<html>

   <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesandscripts/profile.css" />
        <title>Recited Verse - Profile</title>
    </head>


    <body>
        <% include ../partials/header.ejs %>
        <% include ../partials/audioPlayer.ejs %>
        
        
        <!-- The background image of the user's profile -->
        <div class="profile_background_area"> <img id="profile_background" src="" alt="background" width="100%" height="100%"> </div>
        
        <!-- The entire profile area. -->
        <div class="profile_area">
            
            <button id="edit_profile_btn">Edit Profile</button>
            <button id="logout_btn">Logout</button>
            
            <!-- The upper profile area that shows all of the person's info. -->
            <div class="profile_info_area">
                
                <!-- The profile picture area. -->
                <div class="profile_picture_area"> <img id="profile_picture" src="" alt="profile picture"> </div>
                
                <!-- The area that shows the person's name, bio, education, etc. -->
                <div class="personal_info">
                    <h3 id="profile_name"></h3>
                    <p id="profile_bio"></p>
                    <p id="profile_followers"></p>
                    <p id="profile_following"></p>
                </div>
                
                <!-- The social buttons. -->
                <div class="social_buttons">
                </div>
                
            </div>
            
            <div style="background-color:white;position:relative;top:50px;height:300px;z-index:-1;"></div>
            
            <!-- The lower part that shows the table of recitations. -->
            <div class="profile_recitations_area">
                
                <!-- The tabs. -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#all">All</a></li>
                    <li><a data-toggle="tab" href="#popular">Popular</a></li>
                    <li><a data-toggle="tab" href="#liked">Liked</a></li>
                    <li><a data-toggle="tab" href="#favorites">Favorites</a></li>
                    <li><a data-toggle="tab" href="#playlists">Playlists</a></li>
                    <button class="pill_button" data-toggle="modal" data-target="#myModal" onclick="requestPermission();">Upload new recitation</button>
                </ul>

                <!-- The content that goes into each tab. You can just use exteral ejs files for this so it's not too crowded here. -->
                <div class="tab-content">
                    <div id="all" class="tab-pane fade in active">
                        <% include ../partials/profile_all.ejs %>
                    </div>
    
                    <div id="popular" class="tab-pane fade">
                        <% include ../partials/profile_popular.ejs %>
                    </div>
    
                    <div id="liked" class="tab-pane fade">
                        <% include ../partials/profile_liked.ejs %>
                    </div>
                
                    <div id="favorites" class="tab-pane fade">
                        <% include ../partials/profile_favorites.ejs %>
                    </div>
                    
                    <div id="playlists" class="tab-pane fade">
                        <% include ../partials/profile_playlists.ejs %>
                    </div>
                </div>
            </div>    
        </div>
        
        
        <!-- Modal for uploading recitation -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload Recitation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="upload_area" style="text-align:center;">
                            <h5 class="page_text">Poem Name: <input type="text" class="inp" id="recitation_name_field" placeholder="Enter the name of the poem"> </h5>
                            <h5 class="page_text">Author: <input type="text" class="inp"  id="recitation_author_field" placeholder="Enter the author's name"> </h5>
                            <h5 class="page_text">Recited By: <input type="text" class="inp"  id="recitation_recitedby_field" placeholder="Enter the reciter's name"> </h5>
                            <h5 class="page_text">Published: <input type="text" class="inp"  id="recitation_publication_field" placeholder="Year of publication"> </h5>
                            <h5 class="page_text">Genre: <input type="text" class="inp"  id="recitation_genre_field" placeholder="Enter the genre of the poem"> </h5>
                            <h5 class="page_text">Written Text: </h5>
                            <textarea class="inp" id="recitation_text_field" rows="15" cols="35"></textarea>
                            <h5 class="page_text">Description (Optional): </h5>
                            <textarea class="inp" id="recitation_description_field" rows="5" cols="30"></textarea>
                            <h5 class="page_text">Image (Optional):</h5>
                            <img id="poem_image" width="200px" height="200px" src="https://firebasestorage.googleapis.com/v0/b/recitedverse-6efe4.appspot.com/o/RV_Website%2FEmptyPhoto.png?alt=media&token=ce1a33f5-f1d6-4f22-a6f8-8ab40cbd5c83" alt="poem_photo">
                            <br><br>
                            
                            <form action="" style="text-align: center;">
                                <input type="file" name="recImage" id="recImageFile" class="inputfile" accept="image/x-png" multiple="false">
                                <label id="addPhotoBtn" class="pill_btn" for="recImageFile">Add Photo</label>
                            </form>
                            
                            <br>

                            <h5 class="page_text">Upload a recording from a file</h5>
                            
                            <form action="" style="text-align: center;">
                                <input type="file" name="fileRec" id="fileRecitation" class="inputfile" accept="audio/x-mpeg" multiple="false">
                                <label id="fromFileBtn" class="pill_btn" for="fileRecitation">Upload</label>
                                <p id="filenameLabel" style="color:limegreen;"></p>
                            </form>
                            
                            <p class="page_text">Or</p>
                            <h5 class="page_text">Record a recitation here.</h5>
                            <p id="canvas_holder" class="canvas_holder"><canvas class="visualizer"></canvas></p>
                            <div class="mediaButtons">
                                <button id="recordBtn" class="roundBtn fa fa-microphone"></button>
                                <button id="stopRecBtn" class="roundBtn fa fa-stop-circle-o"></button>
                                <button id="playAudioBtn" class="roundBtn fa fa-play"></button>
                                <button id="pauseBtn" class="roundBtn fa fa-pause"></button>
                                <button id="stopBtn" class="roundBtn fa fa-stop"></button>
                                <button id="clearBtn" class="roundBtn fa fa-trash"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="pill_btn" id="submit_recitation_btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        <!--    All of the javascript.    -->
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
        <script type="text/javascript" src="https://adeolauthman.squarespace.com/s/AUAudioRecorder.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/stylesandscripts/firebaseconfig.js"></script>
        <script type="text/javascript" src="/stylesandscripts/profile.js"></script>
    </body>
    
</html>