<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesandscripts/signup.css" />
        <title>Recited Verse - Sign Up</title>
    </head>




    <body>
        <% include ../partials/header.ejs %>
        <% include ../partials/audioPlayer.ejs %>
        
        <div class="login_signup_box">
            <h2>Sign Up</h2>
            <input class="round_input" id="fullname_field" type="text" placeholder="Enter your full name" />
            <br><br>
            <input class="round_input" id="email_field" type="email" placeholder="Enter your email" />
            <br><br>
            <input class="round_input" id="password_field_1" type="password" placeholder="Create a password" />
            <br><br>
            <input class="round_input" id="password_field_2" type="password" placeholder="Re-enter your password" />
            <p id="status_label" style="color: red; visibility: hidden;">The passwords do not match.</p>
            <button class="pillButton" id="createAccount_btn">Create Account</button>
            <br><br>
        </div>
        
        <!--    All of the javascript.    -->
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
        <script type="text/javascript" src="/stylesandscripts/firebaseconfig.js"></script>
        <script type="text/javascript" src="/stylesandscripts/signup.js"></script>
    </body>
    
</html>