<!DOCTYPE html>
<html>

    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesandscripts/upload.css" />
        <title>Recited Verse - Upload</title>
    </head>


    <body>
        <% include ../partials/header.ejs %>
        <% include ../partials/audioPlayer.ejs %>
        
        <div class="upload_area">
            <h3 class="page_text" id="title">Upload</h3>
            <br>
            <h5 class="page_text">Poem Name: <input type="text" class="inp" id="recitation_name_field" placeholder="Enter the name of the poem"> </h5>
            <br>
            <h5 class="page_text">Author: <input type="text" class="inp"  id="recitation_author_field" placeholder="Enter the author's name"> </h5>
            <br>
            <h5 class="page_text">Published: <input type="text" class="inp"  id="recitation_publication_field" placeholder="Year of publication"> </h5>
            <br>
            <h5 class="page_text">Genre: <input type="text" class="inp"  id="recitation_genre_field" placeholder="Enter the genre of the poem"> </h5>
            <br>
            <h5 class="page_text">Description (Optional): </h5><br>
            <textarea class="inp" id="recitation_description_field"></textarea>
            <br><br>
            <h5 class="page_text">Upload from file</h5>
            <button class="pill_btn" id="fromFileBtn">Upload</button>
            <br><br><p class="page_text">Or</p>
            <h5 class="page_text">Record a recitation here.</h5>
            <p id="canvas_holder" class="canvas_holder"><canvas class="visualizer"></canvas></p>
            <div class="mediaButtons">
                <button id="recordBtn" class="roundBtn fa fa-microphone"></button>
                <button id="stopRecBtn" class="roundBtn fa fa-stop-circle-o"></button>
                <button id="playAudioBtn" class="roundBtn fa fa-play"></button>
                <button id="pauseBtn" class="roundBtn fa fa-pause"></button>
                <button id="stopBtn" class="roundBtn fa fa-stop"></button>
                <button id="clearBtn" class="roundBtn fa fa-trash"></button>
            </div>
            <br><br><br><br>
            <button class="pill_btn" id="submit_recitation_btn">Submit</button>
            <br><br><br><br><br><br>
        </div>
           
        
        
         <!--    All of the javascript.    -->
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://adeolauthman.squarespace.com/s/AUAudioRecorder.js"></script>
        <script type="text/javascript" src="/stylesandscripts/firebaseconfig.js"></script>
        <script type="text/javascript" src="/stylesandscripts/upload.js"></script>
    </body>





</html>
