.editingContainer {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    text-align: center;
}

.titleText {
    margin-top: 30px;
    color: black;
    font-size: 50px;
    margin-bottom: 40px;
}

.bioText {
    color: black;
    font-size: 25px;
    font-family: 'HelveticaNeue';
    margin-bottom: 40px;
}
.bioField {
    position: relative;
    margin: auto;
    border: none;
    font-size: 24px;
    font-family: 'HelveticaNeue';
    background: none;
    text-decoration: none;
    box-shadow: none;
    outline: 0;
    resize: none;
    color: black;
    background-color: rgba(255,255,255,0.5);
    border:1px solid black;
    box-shadow: 0 0 1px black;
    padding: 5px 5px 5px 5px;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    opacity: 0.35;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity: 0.35;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity: 0.35;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
   opacity: 0.35;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
   opacity: 0.35;
}

.FormDiv{
  padding-top: 10px;
  padding-right: 10px;
  width:500px;
  height:220px;
  margin:auto;
  background-color: rgba(0, 0, 0, 0.3);

}
