
@font-face {
    font-family: 'Monthoers';
    src: url('../../public/fonts/Monthoers.otf');
}

@font-face {
    font-family: 'NEBB';
    src: url('../../public/fonts/N_E_B_B.TTF');
}

@font-face {
    font-family: 'NEB';
    src: url('../../public/fonts/N_E_B.TTF');
}