h1 {
    text-align: center;
    font-family: "HelveticaNeue"
}
#copyright {
    font-size: 18px;
    font-family: "HelveticaNeue"
}

button {
    font-size: 17px;
    font-family: "HelveticaNeue"
}

.sectionHolders {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-left: 100px;
}

.companyInfoSection {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.communitiesSection {
    width: 25%;
    color: black;
    vertical-align: top;
    display: inline-block;
}
.userfulLinksSection {
    width: 25%;
    color: black;
    vertical-align: top;
    display: inline-block;
}
.buttonsSection {
    width: 25%;
    color: black;
    display: inline-block;
    vertical-align: top;
    margin-top: 100px;
    display: none
}


.socialBtn {
    width: 70px;
    height: 50px;
    display: inline-block;
}
.socialImg {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding-right: 5px;
}



.after {
  padding-left: 5px;
}
