h1 {
    text-align: center;
    font-family: "Alegreya"
}
#copyright {
    font-size: 18px;
    font-family: "Monthoers"
}

button {
    font-size: 17px;
    font-family: "HelveticaNeue"
}

.sectionHolders {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-left: 100px;
}

.companyInfoSection {
    width: 25%;
    color: block;
    vertical-align: top;
    display: inline-block;
}
.communitiesSection {
    width: 25%;
    color: black;
    vertical-align: top;
    display: inline-block;
}
.userfulLinksSection {
    width: 25%;
    color: black;
    vertical-align: top;
    display: inline-block;
}
.buttonsSection {
    width: 25%;
    color: black;
    display: inline-block;
    vertical-align: top;
    margin-top: 100px;
}


.socialBtn {
    width: 70px;
    height: 50px;
    display: inline-block;
}
.socialImg {
    width: 100%;
    height: 100%;
}