.profileDisplayArea {
    position:relative;
    top:100px;
    left:0px;
    width:80%;
    margin: auto;
    text-align: center;
    margin-bottom: 400px;

}

.playlistName {
    color: black;
    font-size: 23px;
    margin-top: 200px;
    text-align: center;
    z-index: 30;
    height: 100px;
    margin: auto;

}
