.recitation_item, .user_item {
    width: 25%;
    float: left;
    color: white;
    font-size: 15px;
    padding: 30px;
    text-align: center;
    display: table-cell;
    list-style-type: none;
}
.general_rec_image:hover , .prof_img:hover {
    border: 4px cornflowerblue solid;
}
.goToBtn {
    border: none;
    background: rgba(0,0,0,0);
}
