.recitation_item, .user_item {
    float:left;
    width: 25%;
    height: 200px;
    text-align: center;
    margin-bottom: 30px;
}
.general_rec_image:hover , .prof_img:hover {
    border: 4px cornflowerblue solid;
}
.goToBtn {
    border: none;
    background: rgba(0,0,0,0);
}
