.recitations_grid {
    position: relative;
    left: 1.5%;
    width: 96.5%;
    height: 500px;
    display: block;
    text-align: center;
}
#recitations_list {
    position: relative;
    left: 1.5%;
    width: 96.5%;
    height: 500px;
    display: block;
    text-align: center;
}
