body {
    background-color: rgb(242,244,248);
}

.round_input {
    border-radius: 25px;
    border-style: none;
    color: black;
    background-color: white;
    width: 90%;
    height: 25px;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.round_input:focus {
    border: 2px solid lightskyblue;
}

.pillButton {
    text-align: center;
    border-radius: 25px;
    border-style: none;
    padding: 10px;
    -webkit-transition-duration: 0.4s;
}
#createAccount_btn {
    width: 120px;
    font-size: 12px;
    background-color: cornflowerblue;
}
#createAccount_btn:hover { background-color: royalblue; }
