.uploadInputs {
    position: relative;
    top: 100px;
    width: 90%;
}
.inputArea {
    position: relative;
    width: 70%;
    height: 50px;
    margin: auto;
    color: white;
    display: table;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.5);
}
.inputTitle {
    position: absolute;
    margin-top: 5px;
    left: 10px;
    height: 100%;
    float: left;
    text-align: left;
    font-family: 'HelveticaNeue';
    font-size: 20px;
    display: table-cell;
    -webkit-padding-before: 8px;
}
.inputField {
    position: absolute;
    left: 20px;
    width: 80%;
    height: 100%;
    float: left;
    margin: auto;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    font-size: 20px;
    font-family: 'HelveticaNeue';
    display: table-cell;
    padding-left: 55px;
    -moz-padding-before: -10px;
    text-decoration: none;
}


.largeArea {
    position: relative;
    width: 70%;
    height: 50px;
    margin: auto;
    color: white;
    background: none;
    padding-bottom: 250px;
}
.largeTitle {
    float: left;
    font-family: 'HelveticaNeue';
    font-size: 25px;
    text-align: left;
}
.largeTitle::after {
    visibility: hidden;
    content: '(Required)';
}
.largeInput {
    position: relative;
    margin: auto;
    border: none;
    font-size: 30px;
    font-family: 'HelveticaNeue';
    background: none;
    text-decoration: none;
    box-shadow: none;
    outline: 0;
    resize: none;
    color: white;
    background-color: rgba(255,255,255,0.5);
}

.imageArea, .uploadArea {
    position: relative;
    width: 70%;
    height: 50px;
    margin: auto;
    color: white;
    background: none;
    padding-bottom: 400px;
}
.imageTitle, .uploadTitle {
    font-family: 'HelveticaNeue';
    font-size: 30px;
    text-align: left;
}
.recordTitle {
    margin: auto;
    font-size: 30px;
    font-family: 'HelveticaNeue';
    text-align: center;
}

.recordingButtons {
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    padding-top: 30px;
    padding-right: 20px;
    text-decoration: none;
}
.uploadButton {
    position: relative;
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    padding-top: 20px;
    font-family: 'HelveticaNeue';
    text-decoration: none;
}




.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + #fromFileBtn {
    width: 90;
    height: 25px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding-top: 3px;
    display: inline-block;
	background-color: #ADD8E6;
    -webkit-transition-duration: 0.4s;
}
.inputfile:focus + #fromFileBtn, .inputfile + #fromFileBtn:hover {
    background-color: #ADB8F9;
    -webkit-transition-duration: 0.4s;
}

.inputfile + #addPhotoBtn {
    width: 90;
    height: 25px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding-top: 3px;
    display: inline-block;
	background-color: #ADD8E6;
    -webkit-transition-duration: 0.4s;
}
.inputfile:focus + #addPhotoBtn, .inputfile + #addPhotoBtn:hover {
    background-color: #ADB8F9;
    -webkit-transition-duration: 0.4s;
}
