.ep_content_container {
    position: absolute;
    top: 45px;
    left: 6%;
    width: 94%;
    height: 100%;
    background-color: whitesmoke;
    transition: all 0.3s ease;
}
.ep_content_container_expanded {
    position: absolute;
    top: 45px;
    left: 12%;
    width: 88%;
    height: 100%;
    background-color: whitesmoke;
    transition: all 0.3s ease;
}


.ep_header {
    position: relative;
    left: 10px;
    color: rgb(128, 128, 128);
    background-color: whitesmoke;
}
.profile_picture_area {
    position: relative;
    top: 20px;
    left: 50px;
    width: 200px;
    text-align: center;
    background-color: whitesmoke;
}
#profile_picture {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: lightgray;
}
#choose_profile_picture_btn {
    width: 170px;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s;   
}


.background_picture_area {
    position: relative;
    top: 50px;
    left: 50px;
    width: 200px;
    text-align: center;
    background-color: whitesmoke;
}
#background_picture {
    position: relative;
    width: 350px;
    height: 100px;
    background-color: lightgray;
}
#choose_background_picture_btn {
    width: 200px;
    height: 45px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
}


.ep_about_area {
    position: relative;
    top: 80px;
    padding-left: 30px;
    background-color: whitesmoke;
}
.ep_field {
    width: 300px;
}


.pill_button {
    text-align: center;
    border-radius: 25px;
    border-style: none;
    -webkit-transition-duration: 0.3s;
}
.rect_button {
    text-align: center;
    border-style: none;
    -webkit-transition-duration: 0.3s;
}

#save_btn {
    width: 140px;
    height: 40px;
    background-color: rgb(76, 182, 203);
}
#save_btn:hover {
    background-color: rgb(76, 132, 183);
}
#choose_profile_picture_btn {
    background-color: rgb(76, 182, 203);
}
#choose_profile_picture_btn:hover {
    background-color: rgb(76, 132, 183);
}