body {
    background-color: rgb(242,244,248);
}

.welcome_header {
    position: relative;
    top: 60px;
    left: 6%;
    width: 94%;
    text-align: center;
    color: rgb(150,156,152);
}


.trending_area {
    position: relative;
    top: 120px;
    left: 6%;
    width: 94%;
    text-align: left;
    color: rgb(150,156,152);
    transition: all 0.3s ease;
}
.trending_area_expanded {
    position: relative;
    top: 120px;
    left: 12%;
    width: 88%;
    text-align: left;
    color: rgb(150,156,152);
    transition: all 0.3s ease;
}
.trending_collectionView {
    position: relative;
    width: 100%;
    height: 150px;
    display: table;
    background-color: green;
    transition: all 0.3s ease;
}


.recentlyAdded_area {
    position: relative;
    top: 200px;
    left: 6%;
    width: 94%;
    text-align: left;
    color: rgb(150,156,152);
    transition: all 0.3s ease;
}
.recentlyAdded_area_expanded {
    position: relative;
    top: 200px;
    left: 12%;
    width: 88%;
    text-align: left;
    color: rgb(150,156,152);
    transition: all 0.3s ease;
}
.recentlyAdded_collectionView {
    position: relative;
    width: 100%;
    height: 150px;
    display: table;
    background-color: blue;
    transition: all 0.3s ease;
}