body {
    background-color: white;
}

.login_signup_box {
    text-align: center;
    margin: auto;
    border-radius: 25px;
    border-color: cornflowerblue;
    background-color: ghostwhite;
    color: cornflowerblue;
    border: 2px solid cornflowerblue;
    width: 50%;
    height: 60%;
}

.round_input {
    border-radius: 25px;
    border-style: none;
    color: black;
    background-color: white;
    width: 90%;
    height: 25px;
}
.round_input:focus {
    border: 2px solid lightskyblue;
}

.pillButton {
    text-align: center;
    border-radius: 25px;
    border-style: none;
    padding: 10px;
    -webkit-transition-duration: 0.4s;
}
#login_btn { background-color: cornflowerblue; }
#login_btn:hover { background-color: royalblue; }