body {
    background-color: rgb(242,244,248);
}

#dialogoverlay {
    display: none;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    z-index: 100;
}
#dialogbox {
    display: none;
    position: fixed;
    background: orange;
    border-radius: 7px;
    width: 550px;
    z-index: 100;
}
#dialogbox > div { background: red; margin: 8px; }
#dialogbox > div > #dialogboxhead { background: red; margin: 8px; }
#dialogbox > div > #dialogboxbody { background: blue; margin: 8px; }
#dialogbox > div > #dialogboxfoot { background: coral; margin: 8px; }

.profile_area {
    position: relative;
    top: 200px;
    left: 6%;
    width: 94%;
    height: 100%;
}
.profile_info_area {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 250px;
    margin: auto;
    display: table;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease;
}
.profile_info_area_expanded {
    position: absolute;
    top: 0px;
    left: 6.5%;
    width: 93.5%;
    height: 250px;
    margin: auto;
    display: table;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease;
}
.profile_picture_area {
    position: relative;
    margin: auto;
    top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: lightgray;
}
#profile_picture {
    width: 100%;
    height: 100px;
    color: white;
}
.profile_background_area {
    position: absolute;
    top: 45px;
    left: 6%;
    width: 94%;
    height: 400px;
    background-color: lightcoral;
    transition: all 0.3s ease;
}
.profile_background_area_expanded {
    position: absolute;
    top: 45px;
    left: 12%;
    width: 88%;
    height: 400px;
    background-color: lightcoral;
    transition: all 0.3s ease;
}
#edit_profile_btn {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 90px;
    height: 30px;
    z-index: 20;
    border: none;
    border-style: none;
    color: dodgerblue;
    background-color: rgba(0,0,0,0);
}
#logout_btn {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 90px;
    height: 30px;
    z-index: 20;
    border: none;
    border-style: none;
    color: dodgerblue;
    background-color: rgba(0,0,0,0);
}


.social_button {
    border-radius: 20px;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    font-size: 20px;
}
.social_button:hover {
    color: blue;
}
.fa-facebook-square, .fa-linkedin-square, .fa-instagram, .fa-twitter {
/*    visibility: hidden;*/
}


.profile_recitations_area {
    position: absolute;
    top: 285px;
    left: 0%;
    width: 100%;
    height: 500px;
    margin: auto;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease;
}
.profile_recitations_area_expanded {
    position: absolute;
    top: 285px;
    left: 6.5%;
    width: 93.5%;
    height: 700px;
    margin: auto;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease;
}


.pill_button {
    position: relative;
    float: right;
    border: none;
    width: 170px;
    height: 30px;
    border-radius: 25px;
    margin-right: 20px;
    background-color: rgb(76, 182, 203);
    -webkit-transition-duration: 0.3s;
}
.pill_button:hover {
    position: relative;
    float: right;
    border: none;
    width: 170px;
    height: 30px;
    border-radius: 25px;
    margin-right: 20px;
    background-color: rgb(76, 152, 233);
}