.upload_area {
    position: absolute;
    left: 6%;
    top: 55px;
    margin-left: 10px;
    transition: all 0.3s ease;
}
.upload_area_expanded {
    position: absolute;
    left: 12%;
    top: 55px;
    margin-left: 10px;
    transition: all 0.3s ease;
}


input {
    width: 300px;
}


.pill_btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 25px;
    -webkit-transition-duration: 0.3s;
    background-color: rgb(76, 182, 203);
}
.pill_btn:hover {
    -webkit-transition-duration: 0.3s;
    background-color: rgb(76, 132, 183);
}
.roundBtn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    background-color: #70dbdb;
    -webkit-transition-duration: 0.3s;
}


#canvas_holder {
    position: relative;
}
.visualizer {
    width: 30%;
    height: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    border-style: none;
    -webkit-transition-duration: 0.4s;
}