<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesandscripts/landing.css" />
        <title>Recited Verse</title>
    </head>

    
    <body class="body">
        
        
        <!--   The video background.     -->
        <div class="video_background">
            <video autoplay loop>
                <source src="https://firebasestorage.googleapis.com/v0/b/recitedverse-6efe4.appspot.com/o/RV_Website%2Fvideobackground2.mp4?alt=media&token=45788508-3c4c-45c3-a53a-732e468bb8c6" type="video/mp4">
            </video>
            
            <div class="logo_header">
                <img src="https://firebasestorage.googleapis.com/v0/b/recitedverse-6efe4.appspot.com/o/RV_Website%2FRVLogo.png?alt=media&token=15628916-c2cc-44c7-9e67-e77865839153" alt="logo" class="logo" width="150" height="150">
                <h2 style="color: white; font-style: italic; font-size: 30px;">Recited Verse</h2>
                <h3 style="color: white; font-style: italic; font-size: 23px;">A free treasury of online poetry recitations</h3>
<!--
                <button class="pill_button" id="login_btn">Login</button>
                <button class="pill_button" id="signup_btn">Sign Up</button>
-->
            </div>
        </div>
        
        
        <!--    The three main points of the website.    -->
        <div class="mainpoints_container">
            <!--   First point   -->
            <div id="first_point">
                <img src="https://firebasestorage.googleapis.com/v0/b/recitedverse-6efe4.appspot.com/o/RV_Website%2FHeadphonesIcon.png?alt=media&token=70528209-3036-40c6-b5bd-d6b7a4110d2f" alt="img" width="165" height="165">
                <br>
                <h3 class="landing_info">Recitations</h3>	
                <p class="landing_info">The world's first - and leading - treasury of original poetry recitations. </p>
            </div>
            
            <!--   Second point   -->
            <div id="second_point">
                <img src="https://firebasestorage.googleapis.com/v0/b/recitedverse-6efe4.appspot.com/o/RV_Website%2FMicrophoneImage.png?alt=media&token=a5c3eb71-30c6-4b69-a0b7-c4b413aca15c" alt="img" width="165" height="165">
                <br>
                <h3 class="landing_info">Upload</h3>
                <p class="landing_info">Record your own recitations for others to listen to, favorite, and share.</p>
            </div>

            <!--   Third point   -->
            <div id="third_point">
                <img src="https://firebasestorage.googleapis.com/v0/b/recitedverse-6efe4.appspot.com/o/RV_Website%2FSocialImageIcon.png?alt=media&token=d9fcf459-bee0-48ac-8552-11ae91ed3101" alt="img" width="165" height="165">
                <h3 class="landing_info">Social</h3>
                <p class="landing_info">Create, share, follow, discover. Get to know other reciting artists and keep up with their latest posts.</p>
            </div>
        </div>
        

        <!--    The area for putting one's email down for when the website actually launches.    -->
        <div>
            <div class="notify_me_section non_header_text">
                <h3>Want to be notified when Recited Verse launches? Enter your email below! </h3>
                <input class="notify_inp" id="rv_email_field" type="text" placeholder="Email Address">
                <br><br><br>
                <button class="pill_button" id="mailingListBtn" style="width: 80px; height: 35px;"> Submit </button>
            </div>
        </div>


         
        <!--    All of the javascript.    -->
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
        <script type="text/javascript" src="/stylesandscripts/firebaseconfig.js"></script>
        <script type="text/javascript" src="/stylesandscripts/landing.js"></script>
    </body>
    
</html>